body {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    background: #FFE6EE;
    font: black;
    margin-bottom: 20px;
}

.header {
    font-family: 'Satisfy', cursive;
	text-align: center;
	margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
}

p {
	text-align: center;
	line-height: 1.75;
	margin: auto;
}

footer {
    position: absolute;
    padding: 10px;
    height: auto;
    width: 100%;
    text-align: right;
	background: #fff;
}

#homeFooter {
        position: fixed;
        padding: 10px;
        height: auto;
        width: 100%;
        text-align: right;
        background: #fff;
}

.btn {
    margin: 30px;
    color: white;
    background-color:#FFB6C1;
    border-color: white;
}

.btn:hover {
    background: #4B0082;
    color: #f6f6f6;
}

form {
	margin-top: 40px;
}

a {
	color: #FFB6C1;
	font-size: 20px;
}

#bestFriendModal {
	text-align: center;
}

#bestFriendPhoto {
	max-width: 100%;
	height: auto;
}
